= form_with(model: [@project, comment], class: 'relative') do |form|
  = form.text_area(:body, placeholder: "What's on our mind today?", class: 'text-sm focus:border-transparent focus:ring-0 p-0 border-none bg-white rounded-md w-full h-full')
  = form.submit(class: 'bg-lime-500 text-white leading-none px-3 py-2 text-sm rounded-md absolute bottom-0 right-0')
